* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#root {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

p {
    margin: 0 0 1em 0;
}

main {
    background-color: #0B2434;
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: inherit;
}

.game-intro {
    padding: 0 0 2em 0;
    text-align: center;
}

.game {
    background-color: #e8e8e8;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    z-index: 2;
}

.dice {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);
    grid-gap: 2em;
}

.die {
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: inherit;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.die.held {
    background-color: #59E391;
}

.roll-dice {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.6em 1.5em;
    margin: 2.5em 0 0 0;
    font-size: 1.25em;
    color: #FFF;
    font-weight: 700;
    border: none;
    background-color: #2467fb;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}